Dockerfile
.dockerignore
*.md
.git
.gitignore
.husky
.vscode
node_modules
test
.eslintrc.js
.mocharc.js
dist
dist-bin

# yarn berry zero install
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions